* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: #76756F;
    height: 100%;
    width: 100%;
    padding-top: 25px;
    -webkit-animation: fadein 2s;
    /* Safari, Chrome and Opera */
    -moz-animation: fadein 2s;
    /* Firefox < 16 */
    -ms-animation: fadein 2s;
    /* Internet Explorer */
    -o-animation: fadein 2s;
    /* Opera */
    animation: fadein 2s;
}

p {
    color: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
    font-size: 13pt;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 5px;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Firefox < 16 */

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Internet Explorer */

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Opera < 12.1 */

@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    height: 85vh;
    width: 85vh;
    margin: auto;
    background-color: #CEC9BE;
    border: 5px solid black;
    flex-wrap: nowrap;
    box-shadow: 0px 0px 15px #363532;
}

.flex-left {
    width: 30%;
    height: 100%;
}

.flex-right {
    width: 60%;
    height: 100%;
}

.flex-rightright {
    margin: 0 0;
    width: 10%;
    height: 100%;
    justify-content: flex-end;
}

.block-1 {
    background-color: #CEC9BE;
    border: 5px solid black;
    width: 100%;
    height: 24%;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

.block-1:hover {
    background-color: white;
}

.block-2 {
    background-color: #CEC9BE;
    border: 5px solid black;
    width: 100%;
    height: 50%;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    /* ...and now for the proper property */
    transition: .5s;
}

.block-2:hover {
    background-color: white;
}

.block-3 {
    background-color: #29537D;
    border: 5px solid black;
    width: 100%;
    height: 26%;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    /* ...and now for the proper property */
    transition: .5s;
}

.block-3:hover {
    background-color: blue;
}

.block-4 {
    background-color: #F42822;
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-bottom: 5px solid black;
    width: 100%;
    height: 74%;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    /* ...and now for the proper property */
    transition: .5s;
}

.block-4:hover {
    background-color: red;
}

.block-4-2 {
    background-color: #F42822;
    border-top: 5px solid black;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
    width: 100%;
    height: 74%;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    /* ...and now for the proper property */
    transition: .5s;
}

.block-4-2:hover {
    background-color: red;
}

.block-5 {
    background-color: #CEC9BE;
    border: 5px solid black;
    width: 100%;
    height: 26%;
    margin-bottom: 0;
    margin-left: 0;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    /* ...and now for the proper property */
    transition: .5s;
}

.block-5:hover {
    background-color: white;
}

.block-6 {
    background-color: #CEC9BE;
    width: 100%;
    height: 13%;
    border: 5px solid black;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    /* ...and now for the proper property */
    transition: .5s;
}

.block-6:hover {
    background-color: white;
}

.block-7 {
    background-color: #EBC300;
    border: 5px solid black;
    width: 100%;
    height: 13%;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    /* ...and now for the proper property */
    transition: .5s;
}

.block-7:hover {
    background-color: yellow;
}
